$header: 66px;
$footer: 10vh;
header,
footer {
    background-color: #eee;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    opacity: 0;
    z-index: 999;
}

header {
    top: 0;
    height: $header;
    border-bottom: 5px solid #fff;
}

footer {
    bottom: 0;
    height: $footer;
    padding: 15px 0;
}

// main {
//     margin-top: $header + 5px;
//     margin-bottom: $footer + 30px;
// }
@media screen and (max-width: 768px) {
    $footer: 70px;
    header {
        position: relative;
        border: none;
    }
    footer {
        position: relative;
        height: $footer
    }
    // main {
    //     margin-top: $header;
    //     margin-bottom: 0;
    // }
}
