#All {
    opacity: 0;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    opacity: 0;
    .dot {
        // background: url(http://placehold.it/40x40);
        background-color: #FFF;
        opacity: 0.5;
        width: 2vw;
        height: 2vw;
        display: inline-block;
        border-radius: 50%;
        margin: 3px;
        border: 2px #2b4d66 solid;
    }
}

#scrollDown {
    display: block;
    position: fixed;
    top: 85vh;
    left: 50%;
    @include transform(translate(-50%, -50%));
    z-index: 999;
    img {
        border-radius: 50%;
        background-color: #4d4d4d;
        border: 2px #fff solid;
        width: 35px;
        height: 35px;
        background-image: url("../img/scroll1.png"), url("../img/scroll2.png");
        @include transition(all 0.5s cubic-bezier(.9,
        -0.43,
        .23,
        1.24));
        background-position: 0 0, 0 -35px;
        background-repeat: no-repeat;
    }
    img.on {
        background-position: 0 35px, 0 0;
    }
    p {
        color: #fff;
        @include transform(translate(-23%,-70%));
    }
}
