.sky2 {
    @include component();
    width: 120vw;
    clip: rect(0px, 120vw, 16vh, 0px);
}

.tree {
    @include component();
    top: -8vh;
    left: -5vw;
    height: 80vh;
}

.mountain {
    @include component();
    width: 70vw;
    top: 13.2vh;
    left: 20vw;
    clip: rect(0px, 70vw, 2.8vh, 0px);
}

.sailboat {
    @include component();
    width: 3vw;
    top: 12vh;
    left: 43vw;
}

.sun {
    @include component();
    width: 50vw;
    top: -3vw;
    left: 24vw;
}

.birds {
    @include component();
    width: 6vw;
    top: -100%;
    left: 45vw;
}

.tablet2 {
    @include component();
    width: 45vw;
    top: 40vh;
    left: -1vw;
    opacity: 0;
}

.dialog2 {
    @include component();
    top: 26vh;
    left: 60vw;
    width: 20vw;
    opacity: 0;
}

.three {
    $left: 63vw;
    .hr,
    .title,
    .content,
    .btn {
        left: $left;
        opacity: 0;
    }
    .hr {
        top: 33vh;
    }
    .title {
        top: 37vh;
        width: 50%;
    }
    .content {
        top: 49vh;
    }
    .btn {
        top: 60vh;
        &.btn1 {
            margin-left: 0;
        }
        &.btn2 {
            margin-left: 15vw;
        }
    }
}
