.sky2 {
    @include component();
    width: 120vw;
    clip: rect(0px, 100vw, 16vh, 0px);
}

.tree {
    @include component();
    top: -8vh;
    height: 80vh;
}

.mountain {
    @include component();
    width: 70vw;
    top: 13.2vh;
    left: 20vw;
}

.sailboat {
    @include component();
    width: 3vw;
    top: 12vh;
    left: 48vw;
}

.sun {
    @include component();
    width: 50vw;
    top: -3vw;
    left: 24vw;
}

.birds {
    @include component();
    width: 6vw;
    top: 6vh;
    left: 60vw;
}

.tablet2 {
    @include component();
    width: 45vw;
    top: 22vh;
    left: 1vw;
}

.three {
    $left: 50vw;
    .hr,
    .title,
    .content,
    .btn {
        left: $left;
    }
    .hr {
        top: 35vh;
    }
    .title {
        top: 39vh;
    }
    .content {
        top: 50vh;
    }
    .btn {
        top: 60vh;
        &.btn1 {
            margin-left: 0;
        }
        &.btn2 {
            margin-left: 15vw;
        }
    }
}
