.main {
    @include component();
    top: 8vh;
    left: 5vw;
    height: 76vh;
    z-index: 5;
}

$size: 40vw;
.doorWrap {
    @include component();
    top: 5.5vw;
    left: 40vw;
    width: $size;
    height: $size;
    .doorway {
        perspective: $size;
        position: absolute;
        width: $size / 2;
        height: $size;
        background-color: #fff;
        .door {
            transform-origin: left center;
            width: 100%;
            height: 100%;
            background-color: #fff;
            background-image: url("../img/door.jpg");
            background-size: 100% auto;
        }
        .pencilMan {
            @include component();
            top: 19vh;
            left: 9vw;
            width: 10.5vw;
            opacity: 0;
        }
    }
}

.blur {
    @include component();
    top: 0;
    top: -10vh;
    left: 45vw;
    height: 100vh;
    width: 50vw;
}

.textWrap {
    @include component();
    top: 15vh;
    left: 65vw;
    font-size: 2vh;
    // line-height: 3.5vh;
    color: #333;
    .text {
        display: block;
    }
}

.gift {
    @include component();
    top: 40vh;
    left: 65vw;
    height: 18vw;
}
